{{define "subject"}}
    Welcome Abroad, {{.username}}!
{{end}}

{{define "plainBody"}}
Hi,

Thanks for signing up for an account. We're excited to have you on board!

For future reference, your user ID number is {{.userID}}.

Please send a request to the `PUT /v1/activate` endpoint with the following JSON body to activate your account:

{"token": "{{.activationToken}}"}

Please note that this is a one-time use token and it will expire at {{.expiresAt}}.

Thanks,

Best Regards
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>Thanks for signing up for an account. We're excited to have you on board!</p>
    <p>For future reference, your user ID number is {{.userID}}.</p>
    <p>Please send a request to the <code>PUT /v1/activate</code> endpoint with the
    following JSON body to activate your account:</p>
    <pre>
        <code>
            {"token": "{{.activationToken}}"}
        </code>
    </pre>
    <p>Please note that this is a one-time use token and it will expire at {{.expiresAt}}.</p>
    <p>Thanks,</p>
    <p>Best Regards</p>
</body>

</html>
{{end}}