{{define "subject"}}
    Congratulations on Activating Your Account, {{.username}}!
{{end}}

{{define "plainBody"}}
Hi,

We're delighted to share that your account is now fully active. Welcome to a new chapter of exploration and engagement within our community!

For your records, your user ID number is {{.userID}}.

If you have any questions or require assistance as you navigate your new privileges, our team is here to help.

Cheers,

Best Regards,
The Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Hi,</p>
    <p>We're delighted to share that your account is now fully active. Welcome to a new chapter of exploration and engagement within our community!</p>
    <p>For your records, your user ID number is <strong>{{.userID}}</strong>.</p>
    <p>If you have any questions or require assistance as you navigate your new privileges, our team is here to help.</p>
    <p>Cheers,</p>
    <p>Best Regards,<br />The Team</p>
</body>
</html>
{{end}}
